html,
body {
  margin: 0px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
}

.block-title-tip {
  display: inline-block;
  margin-right: 10px;
  border-radius: 2px;
  color: #409eff;
  background-color: #409eff;
  height: 2rem;
  width: 8px;
}

.block-title-tip-green {
  background-color: #5ab93e !important;
}

.block-title {
  h1 {
    font-size: 2.2rem;
    margin: 0px;
    display: flex;
    align-items: center;
  }
  p {
    margin: 6px 0px;
    color: rgb(78, 78, 78);
  }
}

.title1 {
  font-size: 2.2rem;
  font-family: 600;
}

.title2 {
  font-size: 1.2rem;
  font-family: 600;
}
.title3 {
  font-size: 1rem;
  font-family: 400;
}

.text {
  font-size: 1rem;
}

.el-main,
.el-footer {
  padding: 0px !important;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.one-line-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-red {
  color: #db3737;
}

.text-gray {
  color: rgb(146, 145, 145);
}

.text-blue {
  color: #2f91f3;
}

.text-green {
  color: #64993f;
}

// @media screen and (min-width: 740px) {
// }

@media only screen and (max-width: 740px) {
  .only-pc-display {
    display: none;
  }
}
